
@{
    ViewBag.Title = "Presentation";
}

<h1>Presentation - IDOI CMS - Andrew Steward</h1>
<br />
<h4>MVP Features</h4>
<ol>
    <li>Database relationships between key entities - Complaints, Agents, Insurers, Admin Actions</li>
    <li>Homepage showing current complaints</li>
    <li>Customized navigation bar and homepage</li>
</ol>
<br />
<h4>Stretch Goals</h4>
<ol>
    <li>Impact analysis page</li>
    <li>More user error handling - reduce duplicate entries</li>
    <li>Foreign Key dropdowns for add in Create Views</li>
    <li>More customized list views</li>
</ol>
<br />
<h4>Lessons Learned</h4>
<ol>
    <li>Build out smaller first - and then scale up</li>
    <li>When you are using a premade framework - learn what works under the hood</li>
    <li>Viewbag = Life</li>
</ol>

